*.sgf
# explicitly ignoring datasets makes git process changes much faster
expert_play/sgf/Community
expert_play/sgf/GoGoDWinter2015
expert_play/sgf/GoGoD-subset-20k
expert_play/sgf/BadukMovies
expert_play/sgf/kgs-subset-554
